.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(#163257 4%, #091728);
}

.header {
  padding: 0 16px;
  height: 60px;
  line-height: 60px;
  /*background-color: #3b7dd1;*/
}

.logo {
  color: #EEEEEE;
  font-size: 1.2rem;
  font-weight: bold;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: bold;
}

.content {
  flex: 1;
  /*background: #163257;*/
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
